<div class="container">
  <div class="grid-x">
    <div class="location dropdown float-right large-4 medium-4 small-4">
      {{#basic-dropdown as |dd|}}
        {{#dd.trigger class="float-right location-dropdown"}}
          {{t 'dropdown.label'}}
        {{/dd.trigger}}

        {{#dd.content class="location-dropdown-content"}}
          <p>{{t 'dropdown.content.city'}}</p>
          <p>{{t 'dropdown.content.city'}}</p>
        {{/dd.content}}
      {{/basic-dropdown}}
    </div>
    <div class="search input large-4 medium-4 small-4">
      {{input
        class="text-field input"
        type="text"
        placeholder="What are you looking for?"
      }}
    </div>
    <div class="search-button-container large-4 medium-4 small-4">
      <div class="button search-button cta">
        {{t 'button.search'}}
      </div>
    </div>
  </div>
</div>
