<div class="container">
  <div class="grid-x">
    <div class="cell about-hero hero-background">
      <p class="hero-copy text-center cell large-8 medium-8">
        Hello there. This is the home page and it is under construction
      </p>
      {{search-bar}}
    </div>
  </div>
</div>

{{restaurant-cards}}

<div class="location-table-title text-center large-8 medium-8 small-8">
  <h4>{{t 'location.title'}}</h4>
  <p>{{t 'location.city'}}</p>
</div>

<div class="location-table grid-x">
  {{#each model as |location|}}
    <div class="large-4 medium-6 small-8 float-center">
      <div class="table-text card cell">
        <img src={{location.image}} class="city-image">
        <p class="city-name text-center">{{location.city}}</p>
      </div>
    </div>
  {{/each}}
</div>

{{main-footer}}
